
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
        width: 100%;
        height: 100%;
      }
html {
        width: 100%;
        height: 100% !important;
      }


.full-container {
width: 100%;
height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carousel{
  height: 100%;

}
.carousel-caption{
 top: 500px;  
 z-index: 1;
}

.carousel-inner {
  height: 100%;
}
.videoWebcam{
 position: absolute;
  top:48px;
  right:0px;
  width: 20%;
  height: 40%;
  object-fit: cover;
}
.webcam {
  width: 55%;
  height: 80%;
  left: -12%;
  position: relative;
  object-fit: cover;

  
}

#menu{
  position: absolute;
  right: 10px;
  color : black ;
}

.menuLink{
  color: black;
}
.recharts-wrapper{
    position: absolute !important;
    bottom: 0px;
    right: 0px;
    width: 20% !important;
    height: 45% !important;
    text-align: center;
  }

  .recharts-surface{
    position: absolute !important;
    bottom: 0px;
    right: 0px;
    width: 100% !important;
    height: 100% !important;
  }

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#faceLogin{
  position: absolute;
  top: 15%;
  left: 70%;
  color: white;
  font-size: 60px;
  font-weight: bold;
}
#faceLogin2{
  position: absolute;
  top: 28%;
  left: 70%;
  color: white;
  font-size: 20px;
}
#root {
  width: 100%;
  height: 100%;
}
#userInput {
  position: absolute;;
  /* background-color: white; */
  top: 28%;
  left: 70%;
  width: 350px;
  justify-content: center;
}
/* #explain {
  background-color: #5882FA;
} */

#loginBox {
  background-color:black;
  align-items: center;
  text-align: center;
  height: 100%;
}
#loginBox1{
  background-color:white;
  align-items: center;
  text-align: center;
  height: 100%;
}
#startCard{
  position:relative;
  width: 70%;
  height: 40%;
}
#startCardBtn {
  width: 60%;
  height: 50%;
}
#AnalyzeText{
  position: absolute;
  top:40%;
  left: 22%;
  color: white;
}
#AnalyzeOption{
  position: relative;

  left:12%;
 
}
#emotionSelect{
  position: relative;
  left: 35%;

  width: 25%;
  z-index: 1;
  background-color: white;
}
