
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
        width: 100%;
        height: 100%;
      }
html {
        width: 100%;
        height: 100% !important;
      }


.full-container {
width: 100%;
height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carousel{
  height: 100%;

}
.carousel-caption{
 top: 500px;  
 z-index: 1;
}

.carousel-inner {
  height: 100%;
}
.videoWebcam{
 position: absolute;
  top:0px;
  right:0px;
  width: 20%;
  height: 45%;
  object-fit: cover;
}
.webcam {
  width: 55%;
  height: 350px;
  margin: 5%;
  position: relative;
  object-fit: cover;
  
}

.home{
 position: absolute;
 top:0px;
 right:35px;
 width: 35px;
 height: 35px;
 z-index:1;
}
.logout{
  position: absolute;
  top: 0px;
  right: 0px;

  width:35px;
  height: 35px;
  z-index:1;
}


.recharts-wrapper{
    position: absolute !important;
    bottom: 0px;
    right: 0px;
    width: 20% !important;
    height: 40% !important;
    text-align: center;
  }
  .recharts-legend-wrapper{
    display :none;
  }
  .recharts-surface{
    position: absolute !important;
    bottom: 0px;
    right: 0px;
    width: 100% !important;
    height: 100% !important;
  }

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#root {
  width: 100%;
  height: 100%;
}
#userInput {
  position:relative;
  width: 300px;
  justify-content: center;
}
/* #explain {
  background-color: #5882FA;
} */

#loginBox {
  background-color: #F2F2F2;
  align-items: center;
  text-align: center;
  height: 100%;
}
#startCard{
  position:relative;
  width: 70%;
  height: 40%;
}

#startCardBtn {
  width: 60%;
  height: 50%;
}

