.App {
  text-align: center;
}

.container-fluid {
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.videoWebcam{
 position: absolute;
  top:0px;
  right:0px;
  width: 20%;
  height: 40%;
  object-fit: cover;
}
.webcam {
  width: 80%;
  height: 85%;
  margin: 5%;
  position: relative;
  object-fit: cover;
  
}

#blink{
  opacity: 1;
  animation: blinker 1s linear infinite;
}

  

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#spinner{
  position: relative;
  top: 20px;
 right: 60px ;
}
#text {
  position: relative;


}
#userInput {
  position:relative;
  width: 300px;
  justify-content: center;
  margin: 5%
}
#explain {

 height: 900px;
  background-color: #5882FA;
}

#loginBox {
  background-color: #F2F2F2;
}
#start{
  position:relative;
  top:150px;
  left:55px;
  width: 370px;
  height: 400px;
}
 #icon
{
  position: relative;
  top:20px;
  right:20px;
}